.rightside {
  @include verticalCenter;
  background-color: black;
  font-family: $font-1;
  font-size: 3em;
  grid-area: d;
  margin-right: 30px;
  padding-left: 30px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  cursor: pointer;

  @include media-max(1000px) {
    font-size: 2em;
  }

  @include media-max(600px) {
    font-size: 1em;
  }
}

.rightside:hover {
  color: $grey;
}
