@import url("https://fonts.googleapis.com/css2?family=Kings&family=Shalimar&display=swap");

$font-1: "Kings", cursive;
$font-2: "Shalimar", cursive;

$white: #ddd;
$black: #333;
$grey: #888;

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin media-max($_max-width) {
  @media screen and (max-width: $_max-width) {
    & {
      @content;
    }
  }
}

* {
  padding: 0;
  margin: 0;
  background: black;
  text-align: center;
  font-family: $font-1;
  color: white;
  text-decoration: none !important;
  letter-spacing: 2px;
  font-weight: 200;
  scrollbar-width: none;
}

#root {
  height: 100vh;
  scrollbar-width: none;
  overflow-x: hidden;
  background: black;
  background-size: auto;
  color: $white;
  display: grid;
  justify-content: space-between;
  grid-template-areas:
    "a a a a a a a a a a a a"
    "b c c c c c c c c c c d"
    "b c c c c c c c c c c d"
    "b c c c c c c c c c c d"
    "b c c c c c c c c c c d"
    "b c c c c c c c c c c d"
    "b c c c c c c c c c c d"
    "b c c c c c c c c c c d"
    "b c c c c c c c c c c d"
    "b c c c c c c c c c c d"
    "b c c c c c c c c c c d"
    "e e e e e e e e e e e e";
}

a {
  text-decoration: none;
  color: $white;
  cursor: pointer;
}

a:visited {
  color: $white;
}

button {
  margin: 10px;
  font-size: 0.75em;
  cursor: pointer;
  padding: 5px;
  z-index: 20;
}

button:hover {
  background-color: $black;
}

Link {
  margin: 10px;
}

#root::-webkit-scrollbar {
  display: none;
}
