@import url("https://fonts.googleapis.com/css2?family=Kings&family=Shalimar&display=swap");
* {
  padding: 0;
  margin: 0;
  background: black;
  text-align: center;
  font-family: "Kings", cursive;
  color: white;
}

#root {
  height: 100vh;
  background-size: auto;
  color: #ddd;
  display: grid;
  justify-content: space-between;
  grid-template-areas: "a a a a a a a a a a a a" "b c c c c c c c c c c d" "b c c c c c c c c c c d" "b c c c c c c c c c c d" "b c c c c c c c c c c d" "b c c c c c c c c c c d" "b c c c c c c c c c c d" "b c c c c c c c c c c d" "b c c c c c c c c c c d" "b c c c c c c c c c c d" "b c c c c c c c c c c d" "e e e e e e e e e e e e";
}

a {
  text-decoration: none;
  color: #ddd;
  cursor: pointer;
}

a:visited {
  color: #ddd;
}

button {
  margin: 10px;
  font-size: 0.75em;
  cursor: pointer;
  padding: 5px;
  z-index: 20;
}

button:hover {
  background-color: #333;
}

Link {
  margin: 10px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-family: "Kings", cursive;
  letter-spacing: 5px;
  font-size: 2em;
  grid-area: a;
  margin: 10px;
}
@media screen and (max-width: 1000px) {
  .header {
    font-size: 1em;
  }
}
@media screen and (max-width: 600px) {
  .header {
    font-size: 0.5em;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-family: "Kings", cursive;
  grid-area: e;
  margin: 10px;
}

.leftside {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-family: "Kings", cursive;
  font-size: 3em;
  grid-area: b;
  margin-left: 30px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  cursor: pointer;
}
@media screen and (max-width: 1000px) {
  .leftside {
    font-size: 2em;
  }
}
@media screen and (max-width: 600px) {
  .leftside {
    font-size: 1em;
  }
}

.rightside {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-family: "Kings", cursive;
  font-size: 3em;
  grid-area: d;
  margin-right: 30px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  cursor: pointer;
}
@media screen and (max-width: 1000px) {
  .rightside {
    font-size: 2em;
  }
}
@media screen and (max-width: 600px) {
  .rightside {
    font-size: 1em;
  }
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: c;
  flex-direction: column;
  font-family: "Shalimar", cursive;
  font-size: 1.5em;
}
.contact .presentation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}
.contact .presentation img {
  width: 25%;
  height: fit-content;
}
.contact .presentation p {
  margin: 0px 50px 0px 50px;
  display: flex;
  align-items: center;
  max-width: 450px;
  font-size: 0.8em;
}
.contact .contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-top: 20px;
}
.contact .contact-form form {
  display: flex;
  flex-direction: row;
}
.contact .contact-form form label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact .contact-form form input {
  margin: 0px 30px 0px 30px;
  width: 300px;
}
.contact .contact-form .message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.contact .contact-form .message label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact .contact-form .message textarea {
  margin-bottom: 10px;
  width: 1025px;
}
@media screen and (max-width: 1310px) {
  .contact .contact-form form input {
    width: 200px;
  }
  .contact .contact-form .message textarea {
    width: 725px;
  }
}
@media screen and (max-width: 1000px) {
  .contact {
    font-size: 1.25em;
  }
  .contact .presentation {
    flex-direction: column;
  }
  .contact .presentation img {
    min-width: 250px;
    margin-bottom: 20px;
  }
  .contact .contact-form form {
    flex-direction: column;
  }
  .contact .contact-form .message textarea {
    width: 400px;
  }
}
@media screen and (max-width: 600px) {
  .contact {
    font-size: 1em;
  }
  .contact .presentation p {
    max-width: 250px;
  }
  .contact .contact-form form {
    flex-direction: column;
  }
  .contact .contact-form .message textarea {
    width: 250px;
  }
}

.accueil {
  grid-area: c;
  background-image: url("../media/0.jpg");
  background-size: 25%;
  margin: 10px;
}
@media screen and (max-width: 1000px) {
  .accueil {
    background-size: 50%;
  }
}

.oeuvres {
  grid-area: c;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}
@media screen and (max-width: 750px) {
  .oeuvres .images {
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .oeuvres .images img {
    width: 50vw;
    height: fit-content;
    margin: 0px 30px 0px 30px;
  }
}

.scroll-horizontal {
  display: flex;
  background-color: green;
}

.images {
  display: flex;
  background-color: blue;
}
.images img {
  height: 92%;
  max-width: 650px;
  margin: 30px;
}

.illustration-story,
.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Shalimar", cursive;
  font-size: 1.35em;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.illustration-story h2,
.overlay h2 {
  margin-top: 10px;
}

.overlay {
  background: black;
}

.illustration {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  min-height: 350px;
  overflow: hidden;
  margin: 20px;
  width: 55%;
  height: 75%;
}

.image img {
  position: relative;
}

.btn-last {
  position: absolute;
  left: 10px;
  top: 50%;
}

.btn-next {
  position: absolute;
  right: 10px;
  top: 50%;
}

.btn-close {
  position: absolute;
  right: 10px;
  top: 80px;
}

.btn {
  font-size: 0.75em;
  width: 100%;
}

@media screen and (max-width: 1300px) {
  .illustration-story {
    font-size: 1.25em;
  }
}
@media screen and (max-width: 1000px) {
  .illustration-story {
    font-size: 1em;
  }
  .illustration-story .overlay .illustration {
    width: 100%;
  }
  .illustration-story .btn-last,
.illustration-story .btn-next,
.illustration-story .btn-close {
    top: 0;
    right: 0;
    left: 0;
    position: relative;
  }
  .illustration-story .btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (max-width: 500px) {
  .illustration-story {
    font-size: 0.75em;
  }
  .illustration-story .overlay {
    margin-top: 0px;
  }
  .illustration-story .overlay .illustration {
    height: 50%;
  }
}

.admin {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  flex-direction: column;
  grid-area: c;
  font-family: "Kings", cursive;
  font-size: 1.5em;
}
@media screen and (max-width: 700px) {
  .admin {
    font-size: 1em;
  }
}

.form-new-content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  border: #333 dashed 10px;
  margin-bottom: 20px;
}
.form-new-content h2 {
  text-align: center;
}
.form-new-content .box {
  display: flex;
  flex-direction: row;
}
.form-new-content .text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-new-content .text-box label {
  display: flex;
  flex-direction: column;
}
.form-new-content .text-box textarea {
  width: 400px;
}
.form-new-content .btn-post {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
@media screen and (max-width: 1250px) {
  .form-new-content {
    font-size: 1.5em;
  }
  .form-new-content h2 {
    font-size: 1em;
  }
  .form-new-content .box {
    flex-direction: column;
  }
}
@media screen and (max-width: 550px) {
  .form-new-content .text-box textarea {
    width: 200px;
  }
}

.top-barre {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.top-barre button {
  margin-bottom: 10px;
}
.top-barre a {
  margin-top: 5px;
}
@media screen and (max-width: 500px) {
  .top-barre h3 {
    display: none;
  }
}

.illustration-story-page {
  background-color: black;
}

.illustration-story-content {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}
.illustration-story-content img {
  width: 50%;
  min-width: 300px;
}
.illustration-story-content h2 {
  margin-bottom: 50px;
}
@media screen and (max-width: 1250px) {
  .illustration-story-content {
    font-size: 1em;
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  .illustration-story-content {
    font-size: 0.75em;
  }
  .illustration-story-content h2 {
    margin-bottom: 20px;
  }
  .illustration-story-content img {
    min-width: 150px;
  }
}

.text-content {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.text-content h2 div button {
  margin-bottom: 50px;
}

/*# sourceMappingURL=index.css.map */
