.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: c;
  flex-direction: column;
  font-family: $font-2;
  font-size: 1.5em;

  .presentation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;

    img {
      width: 25%;
      height: auto;
    }

    p {
      margin: 0px 50px 0px 50px;
      display: flex;
      align-items: center;
      max-width: 450px;
      font-size: 0.8em;
    }
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 20px;

    form {
      display: flex;
      flex-direction: column;

      .person-info {
        display: flex;
        flex-direction: row;
      }

      label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      input {
        margin: 0px 30px 0px 30px;
        width: 300px;
        font-size: 0.75em;
      }
    }

    .message {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 30px;

      label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      textarea {
        margin-bottom: 10px;
        width: 1025px;
        font-size: 0.75em;
      }
    }
  }

  @include media-max(1310px) {
    .contact-form {
      form input {
        width: 200px;
      }
      .message textarea {
        width: 725px;
      }
    }
  }

  @include media-max(1000px) {
    font-size: 1.25em;

    .presentation {
      flex-direction: column;
      img {
        min-width: 250px;
        margin-bottom: 20px;
      }
    }

    .contact-form {
      form {
        flex-direction: column;
      }
      .message textarea {
        width: 400px;
      }
    }
  }

  @include media-max(600px) {
    font-size: 1em;

    .presentation {
      p {
        max-width: 250px;
      }
    }

    .contact-form {
      form {
        flex-direction: column;
      }

      .message textarea {
        width: 250px;
      }
    }
  }
}
