.oeuvres {
  grid-area: c;
  @include verticalCenter;

  @include media-max(750px) {
    .images {
      flex-direction: column;
      justify-content: space-around;
      flex-wrap: wrap;
      img {
        width: 50vw;
        height: fit-content;
        margin: 0px 30px 0px 30px;
      }
    }
  }
}
.moove {
  display: flex;
}

.scroll-horizontal {
  display: flex;
  background-color: green;
}

.images {
  display: flex;
  background-color: blue;

  img {
    height: 92%;
    max-width: 650px;
    margin: 30px;
  }
}

.illustration-story,
.overlay {
  @include verticalCenter;
  font-family: $font-2;
  font-size: 1.35em;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  h2 {
    margin-top: 10px;
  }
}

.overlay {
  background: black;
}

.illustration {
  @include verticalCenter;
  background-color: black;
  min-height: 350px;
  overflow: hidden;
  margin: 20px;
  width: 55%;
  height: 75%;
}

.image img {
  position: relative;
}

.btn-last {
  position: absolute;
  left: 10px;
  top: 50%;
}

.btn-next {
  position: absolute;
  right: 10px;
  top: 50%;
}

.btn-close {
  position: absolute;
  right: 10px;
  top: 80px;
}

.btn {
  font-size: 0.75em;
  width: 100%;
}

.illustration-story {
  @include media-max(1300px) {
    font-size: 1.25em;
  }

  @include media-max(1000px) {
    font-size: 1em;
    .overlay .illustration {
      width: 100%;
    }

    .btn-last,
    .btn-next,
    .btn-close {
      top: 0;
      right: 0;
      left: 0;
      position: relative;
    }
    .btn {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  @include media-max(500px) {
    font-size: 0.75em;
    .overlay {
      margin-top: 0px;
      .illustration {
        height: 50%;
      }
    }
  }
}
