.oeuvres {
  grid-area: c;
  background-color: rgb(0, 0, 0);
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.images {
  display: flex;

  img {
    height: 92%;
    max-width: 650px;
    margin: 30px;
  }
}

.illustration-story,
.overlay {
  @include verticalCenter;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.overlay {
  background: rgba(49, 49, 49, 0.95);
}

.illustration {
  @include verticalCenter;
  background-color: white;
  overflow: hidden;
  width: 70%;
  height: 70%;
  margin: 20px;
}

.image img {
  position: relative;
}
